/* général */


html{
    scroll-behavior: smooth;
}

body {
    width: 75%;
    margin: 0;
}



.espaceur {
    height: 160px;
}

.espaceur2 {
  height: 100px;
}

*{
  font-family: 'Montserrat', sans-serif;
}


/* fin général */


/* début header */

header {
    width: 25%;
    position: fixed;
    right: 0;
    background: linear-gradient(45deg, #bdc3c7, #2c3e50);
    height: 110%;
    margin-top: -20px;  
    padding-top: 10%;
    border-left: 1px solid;
    
}



header ul li {
    display: block;
    margin-top: 30px;
    border: 2px solid black;
    border-radius: 5px;
    width: 80%;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background: linear-gradient(45deg, #355C7D, #6C5B7B,#C06C84);
    
    
    
}

header nav {
    
    font-size: 30px;
}

header ul li:hover {
    transform: translate(-5px,-5px);
    box-shadow: 5px 5px 5px;
    transition: all 0.5s;    
}

a {
    text-decoration: none;
    color: black;
    font-size: smaller;
    
}

a:visited {
    color: black;
    text-decoration: none;    
}


header label {
    display: none;
}

input {
    display: none;
}


/* fin header */


/* début partie présentation */


.presentation {
    
    padding-top: 20px;
    padding-bottom: 20px;
    background: linear-gradient(45deg, #0F2027, #203A43,#2C5364);
}



.separateur {
    border-bottom : 2px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
   
}

.photo {
    border-radius: 50%;
    margin-left: 20px;
    border: 1px dashed;
}

h2 {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.souspres {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    margin-top: 20px;
    margin-bottom: 40px;

}





.icone {
    background: linear-gradient(45deg, #355C7D, #6C5B7B,#C06C84);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-left: 10px;
    margin-top: 10px;
    border: 1px solid;

}

.icone:hover {
  
  transform: rotate(33deg);
  transition: all 0.5s;

}




.fa-brands.fa-linkedin , .fa-brands.fa-github , .fa-brands.fa-twitter , .fa-solid.fa-envelope{
    color: white;
    font-size: 30px;
    margin-left: 10px;
    margin-top: 10px;
    animation-duration: 2s;
    animation-name: test;
}


  @keyframes test {
  0% {
    transform: rotate(90deg);

    
    }

    100% {

    opacity: 1;

    }
  }


  
  




.rs {
    display: flex;
}


/* fin partie presentation */



/* début partie compétence */



.competence {
    
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 10%;
    padding-left: 10%;
    animation: pulse 5s ;
    background: linear-gradient(45deg, #0F2027, #203A43,#2C5364);
    
}



.container {
    position: relative;
    width: 50%;
    margin-bottom: 20px;
    padding: 20px 40px;
    border-radius: 4px;
    box-sizing: border-box;
    background: #c9c9c9;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .5);
    margin-right: 20px;
    margin-left: 20px;
  }

  


  .listecomp {
    display: flex;   
  }

 

  .logo {
    width: 100%;
  }
  
  .Loading {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 10px;
    background: #ffffff;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .2);
    border-radius: 4px;
    overflow: hidden;
  }
  
  .Loading:after {
    content: '';
    position: absolute;
    left: 0;
    width: 80%;
    background: #0F2027;
    height: 100%;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
    animation: load 5s ;
  }

  .LoadingJS {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 10px;
    background: #ffffff;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .2);
    border-radius: 4px;
    overflow: hidden;
  }

  .LoadingJS:after {
    content: '';
    position: absolute;
    left: 0;
    width: 40%;
    background: #0F2027;
    height: 100%;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
    animation: loadJS 5s ;
  }

  .Loadingphp {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 10px;
    background: #ffffff;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .2);
    border-radius: 4px;
    overflow: hidden;
  }
  
  .Loadingphp:after {
    content: '';
    position: absolute;
    left: 0;
    width: 20%;
    background: #0F2027;
    height: 100%;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
    animation: loadphp 5s ;
  }

  .Loadingwp {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 10px;
    background: #ffffff;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .2);
    border-radius: 4px;
    overflow: hidden;
  }

  .Loadingwp:after {
    content: '';
    position: absolute;
    left: 0;
    width: 90%;
    background: #0F2027;
    height: 100%;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
    animation: loadwp 5s ;
  }

  .pcomp {
    text-align: center;
    font-weight: 800;
  }
  
  @keyframes load {
    0% {
      width: 0;
      background:#6C5B7B;
    }
    
    25% {
      width: 40%;
      background: #bdc3c7;
    }
    
    50% {
      width: 60%;
      background: #2C5364;
    }
    
    75% {
      width: 75%;
      background: #C06C84;
    }
    
    100% {
      width: 80%;
      background: #0F2027;
    }
  }
 

  @keyframes loadJS {
    0% {
      width: 0;
      background: #6C5B7B;
    }
    
    25% {
      width: 10%;
      background: #bdc3c7;
    }
    
    50% {
      width: 20%;
      background: #2C5364;
    }
    
    75% {
      width: 30%;
      background: #C06C84;
    }
    
    100% {
      width: 40%;
      background: #0F2027;
    }
  }


  @keyframes loadphp {
    0% {
      width: 0;
      background: #6C5B7B;
    }
    
    25% {
      width: 5%;
      background: #bdc3c7;
    }
    
    50% {
      width: 10%;
      background: #2C5364;
    }
    
    75% {
      width: 15%;
      background: #C06C84;
    }
    
    100% {
      width: 20%;
      background: #0F2027;
    }
  }
  


  @keyframes loadwp {
    0% {
      width: 0;
      background: #6C5B7B;
    }
    
    25% {
      width: 40%;
      background: #bdc3c7;
    }
    
    50% {
      width: 60%;
      background: #2C5364;
    }
    
    75% {
      width: 75%;
      background: #C06C84;
    }
    
    100% {
      width: 90%;
      background: #0F2027;
    }
  }







/* fin partie compétence */


/* début partie exemple */


.exemple {
    background: linear-gradient(45deg, #bdc3c7, #2c3e50);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 10%;
    padding-left: 10%;
    padding-bottom: 50px;

}


.listeprojet {
    display: flex;
}

.projet {
    padding: 10px;
    background: linear-gradient(45deg, #355C7D, #6C5B7B,#C06C84);
    margin: 10px;
    box-shadow: 5px 5px 5px black;
    border-radius: 10px;

}

.projet:hover {
    transform: scale(1.1,1.1);
    margin-left: 20px;
    margin-right: 20px;
    transition: all 0.2s;
}

.screenprojet {
    width: 100%;
    margin-top: 20px;
    border-radius: 10px;
    border: 2px solid #252525;
    
}

.projet p {
    text-align: center;
    padding-left: 2vh;
    padding-right: 2vh;
}

.projet a {
  margin-top: 10px;
  background-color: #747cdf;
  color: white;
  font-size: 15px;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.5s;
}

.projet a:hover {
  transform: scale(1.05);
  
}



/* fin partie exemple */



/* début contact */

.contact {
    background: linear-gradient(45deg, #0F2027, #203A43,#2C5364);
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: -8px;
    
    
}

form input {
  display: block;
}


form {
  padding: 30px;
  background-color: #c9c9c9;
  border-radius: 10px;
  margin-left: 3%;
  margin-right: 3%;
}
form h2 {
  font-size: 20px;
}
form .separation {
  width: 100%;
  height: 1px;
  background-color: #747cdf;
}
form .corps-formulaire {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
form .corps-formulaire .groupe {
  position: relative; 
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
form .gauche .groupe input {
  margin-top: 5px;
  padding: 10px 5px 10px 30px;
  border: 1px solid grey;
  outline-color: #747cdf;
  border-radius: 5px;
}
form .gauche .groupe i {
  position: absolute; 
  left: 0;
  top: 25px;
  padding: 9px 8px;
  color: #747cdf;
}
form .droite {
  margin-left: 40px;
}
form .droite .groupe {
  height: 100%;
}
form .droite .groupe textarea {
  margin-top: 5px;
  padding: 10px;
  background-color: #f1f1f1;
  border: 2px solid #747cdf;
  border-radius: 5px;
  resize: none;
  height: 72%;
  width: 250%;
}
form button {
  margin-top: 10px;
  background-color: #747cdf;
  color: white;
  font-size: 15px;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.5s;
}
form .pied-formulaire button:hover {
  transform: scale(1.05);
  
}

.pied-formulaire {
  text-align: center;
}


/* fin contact */




@media only screen and (max-width: 992px) {
   
    header nav {
     display: none;
    }

    header {
        width: 100%;
        position: fixed;
        bottom: 0;
        height: 15%;
        margin-top: 0;
        padding-top: 0%;
        border-top: 1px solid black;
        z-index: 10;
        
    }

   header label {
    display: flex;
    justify-content: center;
    align-items: center;
       
   }


   header ul li {
    display: block;
    margin-top: 10px;
    border: 2px solid black;
    border-radius: 20px;
    width: 80%;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #ffe26a;
    font-size: smaller;

    
}

   #btn:checked ~ header {
    height: 65%;
    transition: 1s;
   }

   #btn:checked ~ header nav {
    display: flex;
    flex-direction: column;
    }

    body {
        width: 100%;
    }

    .listecomp {
      display: block;
      
    }

    



    .container {
      position: relative;
      width: 100%;
      margin-bottom: 20px;
      padding: 20px 40px;
      border-radius: 4px;
      box-sizing: border-box;
      background: #fff;
      box-shadow: 0 10px 20px rgba(0, 0, 0, .5);
      margin-right: 0px;
      margin-left: 0px;
    }


    .listeprojet {
      display: block;
    }

    .projet {
      margin-top: 30px;
    }

    form .corps-formulaire .droite .groupe textarea {
     
      width: 100%;
    }

    header ul {
      margin-top: 0px;
    }


    form .droite {
      margin-left: 0px;
    }
  }


 